h2 {
    font-size: large;
    font-weight: bold;
}

p {
    font-size: small;
}

#container {
    background-color: rgb(120, 118, 118);
    
}

.riga {
    display: flex;
    justify-content: space-evenly;
    margin: -10px;
}

.post-it {
    width: 13%;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 35px;
    padding-right: 35px;
    margin-top: 25px;
    margin-bottom: 10px;
       
}



.post-it:hover {
    transform: scale(1.3,1.3);
    transition-property: transform;
    transition-duration: 1.5s;
}

.giallo {
    background-color: lemonchiffon;
    transform: rotate(357deg);
}

.verde {
    background-color:rgb(150, 182, 150);
    transform: rotate(5deg);
}

.viola {
    background-color: rgb(149, 127, 193);
    transform: rotate(355deg);
}



